* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #0f172a;
  color: #f8fafc;
}

header {
  background: #020617;
  padding: 15px 40px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

nav a {
  text-decoration: none;
  color: #f8fafc;
}

.logo span {
  color: #38bdf8;
}

.hero {
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.hero .button {
  margin-top: 20px;
  padding: 10px 20px;
  background: #38bdf8;
  border: none;
  cursor: pointer;
  font-weight: bold;
  text-decoration: none;
  color: #ffffff;
  border-radius: 10px;
}

section {
  padding: 60px 40px;
}

.grid {
  display: flex;
    float: none;
    justify-content: center;
    flex-wrap: wrap;
    gap: 60px;
    padding-bottom: 60px;
}

footer {
  text-align: center;
  padding: 20px;
  background: #020617;
}